html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.container {
    height: 100%;
    background-image: url('../assets/home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
}
.row-cards {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}
.card {
 height: 200px;
 width: 150px;
 cursor:pointer;
}
input[type="radio"][id^="btn-"] {
    display: none;
  }

  :checked + label img {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(223, 223, 223);
    
  }
.card-id {
    height: 100%;
    width: 100%;
}
.row-difficulties {
    display: flex;
    justify-content: space-around;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
}
.difficulty-btn {
    cursor: pointer;
    display: flex;
    border: 1px solid white;
    width: 150px;
    height: 30px;
    line-height: 30px;
    color: azure;
    text-align: center;
    
}
.difficulty-btn label,
.difficulty-btn input {
    cursor: pointer;
    display:block;
    width: 100%;
}
.difficulty-btn input[type="radio"]:checked + label {
    background: #20b8be;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(223, 223, 223);
  }
  .btn-shuffle {
    margin: 0 auto;
    
  }

